.note {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-height: 300px;
  padding: 0.7rem;
  // background: #f5f77e;
  transform: rotate(3deg);
  box-shadow: 9px 12px 10px -3px #d4d4d4;
  transition: all 0.2s;
  &__pin-button {
    font-size: 1.3rem;
  }
  &__remove-button {
    font-size: 1.3rem;
  }
  &:hover {
    transform: rotate(-5deg);
    transform: scale(1.1);
  }
}
