.notes {
  &__addnew-button {
    background: #0faa0a;
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 80px;
    aspect-ratio: 1/1;
  }
}
