@import "../src/components/Sidebar/sidebar";
@import "../src/components/Note/note";
@import "../src/pages/Notes/notes";

button {
  background: none;
  border: 0;
}

.layout {
  display: grid;
  grid-template-columns: auto 1fr;
  background: #ffffff;
  color: #000;
}

.inner-layout {
  display: grid;
  grid-template-rows: 4rem 1fr 4rem;
}
